.navheader{
    position: fixed;
    z-index: 1;
    width: 100%;   
    
}
button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }

.navbar-nav{
    margin-left: 50px;
    padding: 10px;
    
}
.navbar-nav .nav-link{
    border: 2px solid rgb(177, 161, 141);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: grey;
}
