<section class="viewCompany">
    <section class="mytableContainer">
        <div class="container">
            <div>
                <h1>VIEW COMPANIES</h1>
            </div>

            <!-- <div class="form-group">
        <input type="text" class="form-control mb-4" placeholder="Search" [(ngModel)]="searchContent" id="listSearch">
    </div> -->

            <div class="companieslist">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="card ">
                            <table class="table table-striped" border="2">
                                <thead class="tablehead">
                                    <tr>
                                        <th>Company Id</th>
                                        <th>Company Name</th>
                                        <th>Active Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="tabletd">
                                    <tr *ngFor="let company of companies ">
                                        <td>{{company.id}}</td>
                                        <td>{{company.companyName}}</td>
                                        <td *ngIf="company.active == 1; else elseblock">Active</td>
                                        <ng-template #elseblock>
                                            <td>Not Active</td>
                                        </ng-template>
                                        <td>
                                            <button (click)="updateCompany(company.id)"
                                                class="btn btn-info">Update</button>&nbsp;
                                            <button (click)="deleteCompany(company.id)"
                                                class="btn btn-danger">Delete</button>&nbsp;
                                            <button (click)="viewQuestions(company.id)"
                                                class="btn btn-info">View Questions</button>&nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>