<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Teacher Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Teacher Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/teachers}">Teacher Management</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Update Teacher </h1>
				<div class = "card-body">
					<form th:action="@{/teacher/{id} (id=${teacher.id})}" th:object = "${teacher}" method="POST">
						<div class ="form-group">
							<label> Teacher First Name </label>
							<input
							type = "text"
							name = "TfName"
							th:field = "*{TfName}"
							class = "form-control"
							placeholder="Enter Teacher First Name" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Teacher Last Name </label>
							<input
							type = "text"
							name = "tLname"
							th:field = "*{tLname}"
							class = "form-control"
							placeholder="Enter Teacher Last Name" 
							/>
						</div>
						<div class ="form-group">
							<label> Teacher Course </label>
							<input
							type = "text"
							name = "TCourse"
							th:field = "*{TCourse}"
							class = "form-control"
							placeholder="Enter Teacher Course" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Teacher Contact No. </label>
							<input
							type = "text"
							name = "mobile"
							th:field = "*{mobile}"
							class = "form-control"
							placeholder="Enter Teacher Mobile No" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Teacher Email </label>
							<input
							type = "text"
							name = "TEmail"
							th:field = "*{TEmail}"
							class = "form-control"
							placeholder="Enter Teacher Email" 
							/>
						</div>
						
						
						<div class ="form-group">
							<label> Teacher City</label>
							<input
							type = "text"
							name = "city"
							th:field = "*{city}"
							class = "form-control"
							placeholder="Enter City" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Teacher State</label>
							<input
							type = "text"
							name = "state"
							th:field = "*{state}"
							class = "form-control"
							placeholder="Enter State" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Teacher PinCode</label>
							<input
							type = "text"
							name = "pincode"
							th:field = "*{pincode}"
							class = "form-control"
							placeholder="Enter pincode" 
							/>
						</div>
						
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
</body>
</html>
