<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Teacher Management System</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Teacher Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/students}">Student Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/teachers}">Teacher Management</a>
      </li>
    </ul>
  </div>
</nav>

	<div class ="container">
		<div class = "row">
			<h1> List Teachers </h1>
		</div>
		
		<div class = "row">
			<div class = "col-lg-3">
				<a th:href = "@{/teachers/new}" class = "btn btn-primary btn-sm mb-3"> Add Teacher</a>
			</div>
		</div>
		<table class = "table table-striped table-bordered">
			<thead class = "table-dark">
				<tr>
					
					<th>  First Name</th>
					<th>  Last Name</th>
					<th>  Course</th>
					<th>  Mobile </th>
					<th>  Email </th>
					<th>  City</th>
					<th>  State</th>
					<th>  Pin Code</th>
					
					<th> Actions </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "teacher: ${teachers}">
					<td th:text = "${teacher.TfName}"></td>
					<td th:text = "${teacher.TLname}"></td>
					<td th:text = "${teacher.TCourse}"></td>
					<td th:text = "${teacher.mobile}"></td>
					<td th:text = "${teacher.TEmail}"></td>
					<td th:text = "${teacher.city}"></td>
					<td th:text = "${teacher.state}"></td>
					<td th:text = "${teacher.pincode}"></td>
					
					<td>
						<a th:href = "@{/teachers/edit/{id}(id=${teacher.id})}"
						 class = "btn btn-primary">Update</a>
						
						<a th:href = "@{/teachers/{id}(id=${teacher.id})}"
						 class = "btn btn-danger">Delete</a>
						 
					</td>
				</tr>
			</tbody>
		
		</table>
		
	</div>
</body>
</html>