

<app-header></app-header>

<router-outlet>
    
</router-outlet>

<div>
<footer class="footer-sec">
    <section id="footer-sec1">
        <div class="footer-about1">
        <div class="footer-about">
            <a routerLink='home' routerLinkActive='active' class="nav-link"><h2>Interview portal</h2></a>  
            <h5>Connect With Us</h5>
            <div>
                <p>Online face-to-face mock interviews with experts help you train & 
                    prepare for job interviews in a no pressure, stress-free environment 
                    simulating a real job interview. Stay ahead of the competition with expert 
                    mentoring & feedback!</p>
            </div>
        </div>
        <div class="footer-about">
            <nav>
                <h2>USEFUL INFORMATION</h2>
                <ul class="menuef">
                    <li><a routerLink='home' routerLinkActive='active' class="nav-link">Home</a> </li><!---->
                    <li><a routerLink='employees' routerLinkActive='active' class="nav-link">Feature</a> </li><!---->
                    <li><a routerLink='create-employee' routerLinkActive='active' class="nav-link">Offers</a> </li><!---->
                    <li><a routerLink='create-employee' routerLinkActive='active' class="nav-link">Blogs</a> </li><!---->
                    <li> <a routerLink='' routerLinkActive='active' class="nav-link">About Us</a></li><!---->
                    <li><a href="#">FQA</a></li><!---->
                   
                </ul>
            </nav>
        </div>
        <div class="footer-about">
            <h5>INTERVIEW TIPS IN YOUR INBOX</h5>
            <div>Handcrafted & curated material for every stage of career 
                grooming & industry insights, delivered to your inbox once a month. 
                No spam. Period.</div>
            <form>
            <input type="email" placeholder="Email Id" id="emailnews" ><br>
            <span id="errorfoot2"></span><br>
            <input type="submit" id="submitfornews" value="Subscribe">
            </form>
        </div>
        
    </div>
    <div class="rights">
        <h5>All Rights Reserved 2022 @vasanthakumar</h5>
    </div>
    
</section> 
</footer>
</div>